<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mudflix</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
    
    <h1>MUDFLIX</h1>
    <h2>Categorías</h2>
    <p>¡Elige el tema de la película que quieres que te recomendemos!</p>
    
    </header>

    <span id="categorias">
        <div>Life Reflections</div>
        <div>LOL</div>
        <div>Inspiring</div>
        <div>Animals</div>
        <div>Life Decisions</div>
        <div>Cartoon</div>
        <div>Family Issues</div>
        <div>Self Esteem</div>
        <div>Friendship</div>
        <div>Relationship</div>
        <div>LGTB</div>
        <div>Movies Based on Books</div>

    </span>


</body>
</html>